/*Applied to all HTMLs*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', sans-serif;
}

body   
{
    text-align: center;
    font-size: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/*Game.html styles*/

#home-button
{
  position:absolute !important;
  left:5vw !important;
  top:5vh !important;
  z-index: 1;
} 

#canvas
{
    border: 5px dashed rgb(207, 102, 164);
  
    background-color: rgb(233, 173, 224);
    position: relative;

    margin-top: 5vh;

    max-width: 100vw;
    max-height:100vh;
    z-index: 0;
}

/*button styles*/

.mobile-buttons
{
  position:absolute !important;
  right: 5% !important;
  bottom: 3% !important;
  z-index: 1;
  display:none;
}
.mobile-buttons2
{
  position:absolute !important;
  right:5% !important;
  top:3% !important;
  z-index:1;
  display:none;
}

.button {
  color: #bb2582;
  border-radius: 20%;
  background-color: #fca6f5;
  border: none;
  box-shadow: 0 9px #fc7feb;
  padding: 14px;
  text-align: center;
  font-size: 80%;
  }
  
.button:hover {
  background-color: #ffbcf4;
  }
  
.button:active {
  box-shadow: 0 5px #fca6f5;
  transform: translateY(5px);
  }
  

/*index.html styles*/

input[type=text], input[type=number], select {
    font-size: 120%;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(249, 187, 255);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #af4c91;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #77306e;
  }

div#warning
{
  display:none;
}

div#checker{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 143, 227); /* Fallback color */
  background-color: rgba(255, 89, 214, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(253, 183, 244);
    width: 80%; /* Could be more or less, depending on screen size */
}


/*Responsiveness*/

@media only screen and (max-device-width: 600px)
{
  div#warning
  {
    display:block;
  }

  canvas
  {
    width:90%;
    height:90%;
  }

  #start
{
  position:absolute !important;
  text-align: center;
  top: 10vh;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  z-index: 1;
}
  .mobile-buttons
  {
    display:block;
  }
  .mobile-buttons2
  {
    display:block;
  }

}
